<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        function addUser() {
            let userNameValue = document.getElementById("playerName").value;
            let firstNameValue = document.getElementById("name").value;
            let lastNameValue = document.getElementById("lastName").value;
            var xhr = new XMLHttpRequest();
            xhr.open("POST", "http://localhost:8000/player", true);
            xhr.setRequestHeader('Content-Type', 'application/json');
            xhr.send(JSON.stringify({
                playerName: userNameValue,
                name: firstNameValue,
                lastName: lastNameValue
            }));
        }
      </script>
</head> 
<body>
    <h1><a href="/">Padel APP</a></h1>
	<h2>New User</h2>
	<p>Insertar Usuario</p>
    <label for="fname">Username:</label>
    <input type="text" id="playerName" name="playerName"><br><br>
    <label for="lname">First name:</label>
    <input type="text" id="name" name="name"><br><br>
    <label for="lname">Last name:</label>
    <input type="text" id="lastName" name="lastName"><br><br>
    <input value="Submit" type="submit" onclick="addUser()">
</body>
</html>