<!DOCTYPE html>
<html lang="en">
<head>
      <script type="text/javascript" src="/internal/templates/resources/js/new-match.js"></script>
      <link rel="stylesheet" href="/internal/templates/resources/css/new-match.css">
</head> 
<body>
    <h1><a href="/">Padel APP</a></h1>
	<h2>New Match</h2>
	<p>Select four players for a match</p>
    <table>
        <tr>
          <th>Player Name</th>
          <th>Select</th>
        </tr>
        {{range .Players}}
        <tr>
          <td>{{.PlayerName}}</td>
          <td><input class="inputPlayers" type="checkbox" id="{{.PlayerId}}" name="playerId" value="{{.PlayerId}}"></td>
        </tr>
        {{end}}
    </table>
    <input value="Create Match" type="submit" onclick="addMatch()">
    <br/>
    <table>
        <thead>
            <tr>
                <th colspan="6">Matches</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th>Player One</td>
                <th>Player Two</td>
                <th>Player Three</td>
                <th>Player Four</td>
                <th>Result</td>
                <th></th>
                <th></th>
            </tr>
            {{range .Matches}}
            <tr>
                <th>{{.PlayerOne}}</th>
                <th>{{.PlayerTwo}}</th>
                <th>{{.PlayerThree}}</th>
                <th>{{.PlayerFour}}</th>
                <th>{{.Result}}</th>
                <th><input value="Update" type="submit" onclick="updateMatch('{{.}}')"></th>
                <th><input value="Delete" type="submit" onclick="deleteMatch('{{.MatchId}}')"></th>
            </tr>
            {{end}}
        </tbody>
    </table>
</body>
</html>